<!DOCTYPE html>
<html>
<head>
	<!-- TODO test harp's layout behavior for subdirectory html resources... will this rel uri work? -->
	<link rel="stylesheet" href="styles.css" type="text/css">
</head>
<body>
	<h1>Harp test</h1>
	<%- partial('_nav') %>
	<hr>
    <%- yield %>
</body>
</html>
