<% 
	// By ommitting the var keyword, this creates an identifier "base" on the global object,
	// so it's available in all views. Tried doing this in harp.json "globals" but it didn't
	// seem to get created.
	base = new Array(current.path.length).join("../");
%>
<!DOCTYPE html>
<html>
<head>
	<!-- TODO test harp's layout behavior for subdirectory html resources... will this rel uri work? -->
	<link rel="stylesheet" href="<%=base%>styles.css" type="text/css">
</head>
<body>
	<h1>Harp test</h1>
	<%- partial('_nav') %>
	<hr>
    <%- yield %>
</body>
</html>
