<nav>
	<ul>
		<li><a href="<%=base%>nested-templates">Nested Templates</a></li>
		<li><a href="<%=base%>url-paths/">Data, and URL Paths</a></li>
		<li><a href="https://github.com/mcgwiz/harp-test">GitHub</a></li>
	</ul>
</nav>