<nav>
	<ul>
		<li><a href="<%=base%>index.html">Index</a></li>
		<li><a href="<%=base%>page-two.html">Page Two</a></li>
		<li><a href="<%=base%>area-three/index.html">Page Three</a></li>
		<li><a href="https://github.com/mcgwiz/harp-test">GitHub</a></li>
	</ul>
</nav>