<h2>Page 2</h2>

<strong>example of injecting html content into another partial: </strong>
<%- partial('_partial.ejs', { yield: 'something'}) %>

<hr>

<strong>example of injecting a partial into another partial: </strong>
<%- partial('_partial.ejs', { yield: partial('_stuff.ejs')}) %>

<hr>
takeaway: use 'yield' identifier for maximum idiomaticity!