color-accent = #068

// generic

a,
a:visited
	color color-accent
	text-decoration none

// components

.layout
	margin 0
	padding 0

	> body
		padding 1em

		> h1 
			margin 0 -1em
			padding 0 1em 0.5em 1em
			border-bottom 2px solid color-accent
			font-variant small-caps

		> nav 
			position absolute
			right 2em
			top 1em

			> ul > li
				display inline-block
				margin-left 1em