color-accent = #068

// generic

a,
a:visited
	color color-accent
	text-decoration none

// components

.layout
	margin 0
	padding 0
	height 100%

	> body
		padding 0 10px
		margin 0
		min-height 100%
		position relative

		> h1 
			margin 0 -10px
			padding 10px 10px 5px 10px
			border-bottom 2px solid color-accent
			font-variant small-caps

		> nav 
			position absolute
			right 20px
			top 7px

			> ul > li
				display inline-block
				margin-left 1em

		> .-page
			padding-bottom 60px

		> cite
			position absolute
			bottom 0
			left 0
			right 0
			margin -30px 0 0 0
			padding 10px
			border-top solid 1px #ccc
			color #ccc

	&._prod
		> body
			> .-page
				padding-bottom 0